In [43]:
import math

In [44]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [45]:
def sigma(n):
    prod = 1
    for p in primes[:n]:
        prod *= p
    return prod

In [46]:
sigma(4)

210

In [47]:
def is_prime(n):
    highest_to_check = math.floor(math.sqrt(n))
    for m in range(2, highest_to_check + 1):
        if (n % m == 0):
            return False
    return True

In [48]:
def smallest_factor(n):
    for m in range(2, int(n/2)+1):
        if (n % m == 0):
            return m
    return n

In [49]:
def prime_factors(n):
    factors = []
    while (n != 1):
        f = smallest_factor(n)
        factors.append(f)
        n /= f
    return factors

In [50]:
for num_primes in range(1, 8):
    s = sigma(num_primes)
    print(s-1, s+1, is_prime(s-1), is_prime(s+1))
    if not (is_prime(s-1) and is_prime(s+1)):
        print(prime_factors(s-1), prime_factors(s+1))
        print("PANIC PANIC PANIC PANIC")

1 3 True True
5 7 True True
29 31 True True
209 211 False True
[11, 19.0] [211]
PANIC PANIC PANIC PANIC
2309 2311 True True
30029 30031 True False
[30029] [59, 509.0]
PANIC PANIC PANIC PANIC
510509 510511 False False
[61, 8369.0] [19, 97, 277.0]
PANIC PANIC PANIC PANIC

In [51]:
def find_twin_primes(start, end):
    for n in range(start, end):
        if (is_prime(n) and is_prime(n+2)):
            print(f"found twins {n} and {n+2}, middle number has factors {prime_factors(n+1)}")

In [52]:
find_twin_primes(2, 400)

found twins 3 and 5, middle number has factors [2, 2.0]
found twins 5 and 7, middle number has factors [2, 3.0]
found twins 11 and 13, middle number has factors [2, 2, 3.0]
found twins 17 and 19, middle number has factors [2, 3, 3.0]
found twins 29 and 31, middle number has factors [2, 3, 5.0]
found twins 41 and 43, middle number has factors [2, 3, 7.0]
found twins 59 and 61, middle number has factors [2, 2, 3, 5.0]
found twins 71 and 73, middle number has factors [2, 2, 2, 3, 3.0]
found twins 101 and 103, middle number has factors [2, 3, 17.0]
found twins 107 and 109, middle number has factors [2, 2, 3, 3, 3.0]
found twins 137 and 139, middle number has factors [2, 3, 23.0]
found twins 149 and 151, middle number has factors [2, 3, 5, 5.0]
found twins 179 and 181, middle number has factors [2, 2, 3, 3, 5.0]
found twins 191 and 193, middle number has factors [2, 2, 2, 2, 2, 2, 3.0]
found twins 197 and 199, middle number has factors [2, 3, 3, 11.0]
found twins 227 and 229, middle number has factors [2, 2, 3, 19.0]
found twins 239 and 241, middle number has factors [2, 2, 2, 2, 3, 5.0]
found twins 269 and 271, middle number has factors [2, 3, 3, 3, 5.0]
found twins 281 and 283, middle number has factors [2, 3, 47.0]
found twins 311 and 313, middle number has factors [2, 2, 2, 3, 13.0]
found twins 347 and 349, middle number has factors [2, 2, 3, 29.0]

In [53]:
def is_mid_twins(n):
    return is_prime(n-1) and is_prime(n+1)

In [54]:
def calculate_margin(triangle, width = 250):
    max_len = len(str(triangle[-1]))
    min_len = len(str(triangle[0]))
    return int(min(max_len - min_len, int(width / 2)) / 2)

In [55]:
def display_triangle(tri):
    margin = calculate_margin(tri)
    for layer in tri:
        out = str(layer).replace(",", " ").replace("True", "T").replace("False", "_")
        length = len(out)
        spaces_to_print = margin - int(length / 2)
        print(" " * spaces_to_print + out[1: -1])

In [76]:
def gen_triangle(n, m, depth = 5, res_mid = False):
    triangle = []
    for level in range(depth):
        layer = []
        
        peak = level + 1
        for i in range(peak + 1):
            n_pow = peak - i
            m_pow = i
            result = (n ** n_pow) * (m ** m_pow)
            if (res_mid):
                layer.append(is_mid_twins(result))
            else:
                layer.append(result)

        triangle.append(layer)

    return triangle

In [88]:
n = 6
m = 7
display_triangle(gen_triangle(n, m, depth=18, res_mid = True))
display_triangle(gen_triangle(n, m, depth=5, res_mid = False))

                                                         T  _
                                                        _  T  _
                                                      _  _  _  _
                                                     _  _  _  _  _
                                                   _  _  _  _  _  _
                                                  _  _  _  _  _  _  _
                                                _  _  _  T  _  _  _  _
                                               _  _  _  _  _  _  _  _  _
                                             _  _  _  _  _  _  _  _  _  _
                                            _  _  _  _  _  _  _  _  _  _  _
                                          _  _  _  _  _  _  _  _  _  _  _  _
                                         _  _  _  _  _  _  _  _  _  _  _  _  _
                                       _  _  _  T  _  _  _  _  _  _  _  _  _  _
                                      _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
                                    _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
                                   _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
                                 _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
                                _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
              6  7
           36  42  49
       216  252  294  343
  1296  1512  1764  2058  2401
7776  9072  10584  12348  14406  16807

In [114]:
def splitter_header():
    results = ""
    for p in primes[2:9]:
        results+= f"{p} "
    return results

In [115]:
def split_from(arr):
    results = ""
    for p in primes[2:9]:
        if (p in arr):
            results+="T" + (len(str(p)) * " ")
        else:
            results+="_" + (len(str(p)) * " ")
    return results

In [116]:
print(" " * 32, splitter_header(), splitter_header())
for n in range(1, 30):
    m = n*6
    left_fact = prime_factors(m - 1)
    right_fact = prime_factors(m+1)
    print(f"{m} from {n}: \t factored split:", \
          split_from(left_fact), \
          split_from(right_fact) \
         )

                                 5 7 11 13 17 19 23  5 7 11 13 17 19 23
6 from 1: 	 factored split: T _ _  _  _  _  _   _ T _  _  _  _  _
12 from 2: 	 factored split: _ _ T  _  _  _  _   _ _ _  T  _  _  _
18 from 3: 	 factored split: _ _ _  _  T  _  _   _ _ _  _  _  T  _
24 from 4: 	 factored split: _ _ _  _  _  _  T   T _ _  _  _  _  _
30 from 5: 	 factored split: _ _ _  _  _  _  _   _ _ _  _  _  _  _
36 from 6: 	 factored split: T T _  _  _  _  _   _ _ _  _  _  _  _
42 from 7: 	 factored split: _ _ _  _  _  _  _   _ _ _  _  _  _  _
48 from 8: 	 factored split: _ _ _  _  _  _  _   _ T _  _  _  _  _
54 from 9: 	 factored split: _ _ _  _  _  _  _   T _ T  _  _  _  _
60 from 10: 	 factored split: _ _ _  _  _  _  _   _ _ _  _  _  _  _
66 from 11: 	 factored split: T _ _  T  _  _  _   _ _ _  _  _  _  _
72 from 12: 	 factored split: _ _ _  _  _  _  _   _ _ _  _  _  _  _
78 from 13: 	 factored split: _ T T  _  _  _  _   _ _ _  _  _  _  _
84 from 14: 	 factored split: _ _ _  _  _  _  _   T _ _  _  T  _  _
90 from 15: 	 factored split: _ _ _  _  _  _  _   _ T _  T  _  _  _
96 from 16: 	 factored split: T _ _  _  _  T  _   _ _ _  _  _  _  _
102 from 17: 	 factored split: _ _ _  _  _  _  _   _ _ _  _  _  _  _
108 from 18: 	 factored split: _ _ _  _  _  _  _   _ _ _  _  _  _  _
114 from 19: 	 factored split: _ _ _  _  _  _  _   T _ _  _  _  _  T
120 from 20: 	 factored split: _ T _  _  T  _  _   _ _ T  _  _  _  _
126 from 21: 	 factored split: T _ _  _  _  _  _   _ _ _  _  _  _  _
132 from 22: 	 factored split: _ _ _  _  _  _  _   _ T _  _  _  T  _
138 from 23: 	 factored split: _ _ _  _  _  _  _   _ _ _  _  _  _  _
144 from 24: 	 factored split: _ _ T  T  _  _  _   T _ _  _  _  _  _
150 from 25: 	 factored split: _ _ _  _  _  _  _   _ _ _  _  _  _  _
156 from 26: 	 factored split: T _ _  _  _  _  _   _ _ _  _  _  _  _
162 from 27: 	 factored split: _ T _  _  _  _  T   _ _ _  _  _  _  _
168 from 28: 	 factored split: _ _ _  _  _  _  _   _ _ _  T  _  _  _
174 from 29: 	 factored split: _ _ _  _  _  _  _   T T _  _  _  _  _